
  <div class = "container mt-5">
  <h1>My Bookings <em><b>
  <ol>
  <% @bookings.each do |booking|%>
    <li>
      <ul>
        <li><%="#{booking[0].start_date} #{booking[0].end_date}"%></li>
        <li><%="#{booking[1].first_name} #{booking[1].last_name}" %></li>
      </ul>
    </li>
  <% end %>
  </ol>
</div>
