<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_url("homepage1.png") %>');">
  <div class="explore-btn">
  <p><%= link_to '[EXPLORE]', celebrities_path %></p>
  </div>
</div>
