
.navbar-c4u {
  justify-content: space-between;
  background: rgb(39, 38, 38);
  // background-color: transparent;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-c4u .navbar-collapse {
  flex-grow: 0;
}

.navbar-c4u .navbar-brand img {
  width: 100px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

// #logo{
//   object-fit: cover;
//   width: 100px;
// }

.nav-link {
  font-size: 17px;
  color: beige;
  margin-right: 10px;
  text-transform: uppercase;
}
