
.navbar-c4u {
  justify-content: space-between;
  background: rgb(39, 38, 38);
}

.navbar-c4u .navbar-collapse {
  flex-grow: 0;
}

.navbar-c4u .navbar-brand img {
  width: 125px;
 margin-left: 20px;
 margin-top: 5px;
 margin-bottom: 5px;
}


.avatar {
  width: 30px;
  // border-radius: 50%;
  margin-right: 20px;
}

.nav-link {
  font-size: 17px;
  color: beige;
  margin-right: 10px;
}
